<!DOCTYPE html>

<html>  
    <!--Change this tab label later-->
    <head>
        <meta charset = "utf-8">
        <meta name = "viewport" content = "width=device-width"/>
        Real Estate Site
        <link rel="stylesheet" href="styles.css">
    </head>

    <body>
        <!--Change this heading later-->
        <h1>Real State</h1>

        <div1>
            <img src="image/HM_house.png" height= 500 width= 500 alt="Colorful house generated using Gemini"/>
        </div1>
        
        <h2>
            Pricing Plans
        </h2>

        <p>
            Find the best location!
        </p>

        <a href="/input"> Go to the Input Form<a>
    </body>


</html>