body{
    background-color: rgb(rgb(231, 231, 222));
}

div1{
    margin-left: 250;
}
p{
    background-color:rgb(rgb(255, 136, 136));
    color: blue;
    font-family: 'Times New Roman', Times, serif;
}

